
.admin-notifications-page {
  .ant-card {
    border-radius: 12px;
  }

  .notification-stats {
    margin-bottom: 12px;
    .stat-card {
      border-radius: 12px;
      .ant-statistic {
        margin-bottom: 6px;
      }
    }
    .progress-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .notif-recipient {
    display: flex;
    align-items: center;
  }

  .ant-table {
    .ant-table-expanded-row-fixed & {
      background: none;
    }
  }

  .ant-table-thead > tr > th {
    background: transparent;
  }
}

